<div class="wrapper">
  <aside id="sidebar" [class.expand]="isSidebarExpanded">
    <div class="d-flex">
      <button class="toggle-btn" type="button" (click)="toggleSidebar()">
        <i class="lni lni-grid-alt"></i>
      </button>
      <div class="sidebar-logo">
        <h3>Digital Signer</h3>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="lni lni-user"></i>
          <span>Perfil</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
          data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
          <i class="lni lni-protection"></i>
          <span>Autenticación</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a class="sidebar-link">Iniciar sesión</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link">Registrarse</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
          data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
          <i class="lni lni-pencil-alt"></i>
          <span>Herramientas</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a (click)="mostrarModalGenerarKeys()" class="sidebar-link">Generar llaves</a>
          </li>
          <li class="sidebar-item">
            <a (click)="mostrarModalFirmarDocumentos()" class="sidebar-link">Firmar documento</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link">Verificar documento</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a (click)="mostrarModalListarArchivos()" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
          data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
          <i class="lni lni-files"></i>
          <span>Mis documentos</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a (click)="mostrarModalListarArchivos()" class="sidebar-link">Listar documentos</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="lni lni-cog"></i>
          <span>Configuración</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <a class="sidebar-link">
        <i class="lni lni-exit"></i>
        <span>Cerras sesión</span>
      </a>
    </div>
  </aside>
  <div class="main p-3">
    <div class="text-center">
      <h1 class="animated-title">Digital Signer</h1>
    </div>

    <!-- Panel de generar llaves -->
    <div *ngIf="esGenerarKeys" class="btn-generar-key text-center">
      <button (click)="generarKeys()" class="btn secondary">
        Generar Llaves
      </button>
    </div>

    <!--Panel de firmar documento-->
    <div *ngIf="esFirmarDocumentos" class="contenedor-firma text-center ui-g mt-3">
      <div class="grid altura-subdiv ">
        <div class="col-2"></div>
        <div class="col-3 text-right"> 
            <label> Archivo a firmar:</label>
        </div>
        <div class="col-5 text-center">
          <p-autoComplete 
              [suggestions]="filteredItems" 
              (completeMethod)="search($event)" 
              field="name"
              [dropdown]="true"
              [(ngModel)]="selectedItem"
              placeholder="Seleccione un archivo"
              emptyMessage="No se encontraron archivos"
          ></p-autoComplete>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="grid altura-subdiv">
        <div class="col-3"></div>
        <div class="col-3 text-center"> 
          <label for="">Adjunta tu llave privada:</label>
        </div>
        <div class="col-3 text-center">
          <button (click)="triggerPrivateKeyInput()" class="btn secondary">{{buttonLabelName}}</button>
          <input type="file" #privateKey style="display: none;" (change)="onPrivateKeySelected($event)" accept=".pem" multiple />
       </div>
       <div class="col-3"></div>
      </div>
      <div class="grid altura-subdiv"> 
        <div class="col-4 text-center"> </div>
        <div class="col-4 text-center">
          <button [disabled]="desabilitarFirma()" (click)="generarKeys()" class="btn secondary">
            Firmar archivo
          </button>
        </div>
        <div class="col-4 text-center"> </div>
      </div>
    </div>

    <!-- Panel de lisar documentos -->
    <div *ngIf="esListarDocumentos" class="text-center">

      <div class="btn-subir-archivo text-center">
        <button (click)="triggerFileInput()" class="btn secondary">Subir archivo</button>
        <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)" multiple />
      </div>

      <!-- tbl file -->
      <div class="ui-g-12 pt-0">
        <p-table 
          id="tblFile" 
          #tblFile
          [value]="archivosUsuario"
          alwaysShowPaginator="true" 
          [rowsPerPageOptions]="rowsPerPageOptions"
          [totalRecords]="archivosUsuario.length"
          [rows]="5" 
          [responsive]="true" 
          [paginator]="true" 
          styleClass="tbl-app"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="header">
            <tr style="text-align: center">
              <th class="pt-0; text-center" style="width: 33.33%;">Nombre</th>
              <th class="pt-0; text-center" style="width: 33.3%;">¿Esta firmado?</th>
              <th class="pt-0; text-center" style="width: 33.3%;">Opciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-file>
            <tr style="text-align: center; align-items: center;" >
              <td class="td-center">{{ file.name }}</td>
              <td class="td-center">
                <i *ngIf="file.digitalSigned" class="lni lni-smile font-size-24 detalle icon-green"
                  title="Archivo firmado"></i>
                <i *ngIf="!file.digitalSigned" class="lni lni-sad font-size-24 detalle icon-gray"
                  title="Archivo sin firmar"></i>    
              </td>
              <td class="td-center">
                <i (click)="mostrarModalFirmarDocumentos()" class="lni lni-pencil-alt font-size-24 detalle icono-lista-documento"
                  title="Firmar archivo"></i>
                <i  class="lni lni-checkmark-circle font-size-24 pencil ml-3"
                  title="Confirmar archivo"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="7">
                <div class="mr-2 ml-2 mt-2 mb-2 ui-messages ui-messages-info ui-corner-all p-2">
                  <span class="ui-messages-icon pi pi-info-circle"></span>
                  <span class="ui-messages-detail font-size-15 mt-1">
                    Aun no has cargado documentos
                  </span>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!-- Ventana de confirmacion de retroceder ventana -->
<p-confirmDialog id="confApp" icon="pi pi-exclamation-triangle" #cd>
  <p-footer>
    <button class="" type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    <button class="" type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>

<!-- Estructura de mensajes de alerta -->
<p-toast position="bottom-center" key="toastPortal" id="toastPortal" #toastPortal></p-toast>
