@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #9768ff;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
    margin-left: 10px;
}

.sidebar-logo h3 {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 1rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
    cursor: pointer;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.text-center {
    text-align: center;
    padding-top: 0vh;
}
  
.animated-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #7450ec;
  display: inline-block;
  opacity: 0;
  transform: translateY(-50px);
  animation: fadeInUp 1s forwards, pulse 2s infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Aumenta el tamaño del texto */
  }
}

.btn {
  border: none; 
  color: white; 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
  display: inline-block;
  margin: 5px;
}

.secondary {background-image: linear-gradient(to right, #9768ff, #9868ff7e);} 
.secondary:hover {background-image: linear-gradient(to right, #5338d9b6, #5338d92c);}

.btn-generar-key {
  margin-top: 15%;
}

.btn-subir-archivo {
  margin-top: 5%;
  margin-left: 70%;
  margin-block: 2%;
}

.icon-red{
  color: red;
}

.icon-gray{
  color: gray;
}

.contenedor-firma{
  background-color: #9868ff3a;
  width: 85%;
  height: 70%;
  margin: auto;
  border-radius: 20px;
}

.elevated-div {
  padding: 20px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.altura-subdiv{
  height: 34.5%;
  align-items: center;
}

.altura-subdiv-confirm{
  height: 50%;
  align-items: center;
}

.custom-dropdown {
  flex-grow: 1;
  min-width: 0;
}

.icono-lista-documento {
  cursor: pointer;
}

.td-center {
  text-align: center;
}

.logo-text{
  margin-top: 10%;
  margin-bottom: 10%; 
  margin-right: 5%;
  font-family: Verdana, sans-serif;
}

.img-createUser {
  text-align: center;
  padding: 20px;
  width: 70%;
  margin: auto;
}

.logo-home {
  width: 50%;
  max-width: 100%;
  margin-bottom: 15px;
}

.logo-text {
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 600px) {
  .logo-text {
    font-size: 12px;
    padding: 0 10px;
  }
}
