.pnl-1 {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .pnl-1:before {
    content: '';
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.73;
    background-image: linear-gradient(90deg, #7992e2, #0022ff), url('https://www.transparenttextures.com/patterns/cubes.png');
    background-size: cover;
  }
  
  .pnl-2 {
    width: 80%;
    height: 550px;
    border-radius: 25px;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    z-index: 1;
  }
  
  @media(min-width:768px) {
    .pnl-2 {
      width: 370px;
    }
    .container {
      padding-left: 35px !important;
      padding-right: 35px !important;
      margin-top: 1rem !important;
    }
  }
  
  .img-login {
    text-align: center;
    padding-top: 10%;
  }
  
  .logo-login {
    width: 220px;
    height: 220px;
    object-fit: contain;
  }
  
  .container {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1rem;
  }
  
  .left-cel{
    padding-left: 30px;
  }
  .subtitle {
    font-family: 'Open Sans', sans-serif !important;
    color: #ababab;
    font-weight: bold;
    justify-content: center;
  }

  .input-form{
    justify-content: center;
    margin: 15px;
  }
  
  .inner-addon {
    position: relative;
  }
  
  .inner-addon .aico, .aico-eye {
    position: absolute;
  }
  
  .left-addon .aico, .aico-eye {
    left: 91%;
    padding-top: 8px;
  }
  
  .left-addon .iconCel, .aico-eye {
    padding-top: 8px;
  }
  
  .left-addon input {
    padding-right: 30px;
  }
  
  .iconCel{
    padding-top: 8px;
    color: #464343;
    z-index: 1;
    position: absolute;
    font-weight: bold;
  }
  
  .aico {
    color: #999999;
    z-index: 1;
  }
  
  .aico-eye {
    color: #999999;
    z-index: 1;
    cursor: pointer;
  }
  
  .aico-eye:hover {
    color: #0083fe;
  }
  
  .requerido {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(169, 68, 66, .6);
  }
  
  .footer {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #f1f1f1;
  }
  
  .li {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif !important;
    color: #0083fe;
    cursor: pointer;
  }
  
  .li:hover {
    color: #124a7e;
  }
  
  input {
    border-radius: 15px;
    background-color: #f2f2f2;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    outline: medium none;
    font-family: 'Open Sans', sans-serif !important;
  }
  
  button {
    box-shadow: 0 1.5px 4px 0 rgba(20, 157, 183, 0.45);
    border-radius: 15px;
    background-color: #2076BD !important;
    color: #f1f1f1;
    border: 0px;
  }
  
  button:hover {
    background-color: rgb(62, 136, 197) !important;
  }

  .button-space {
    width: 50%;
    height: 25px;
  }
  
  ::-ms-input-placeholder {
    color: #999999;
    font-size: 13px;
  }
  
  ::placeholder {
    color: #999999;
    font-size: 15px;
  }
  
  .user-icon {
    color: #ffffff;
    font-size: 20px;
  }
  
  #btnMargin {
    margin-top: 10px;
    font-weight: bold;
  }
  
  :host ::ng-deep .requerido {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(169, 68, 66, .6) !important;
  }
  
  .tbl-row {
    font: normal normal normal 14px/16px 'Open Sans', sans-serif;
    color: #797373;
    font-weight: 700;
  }
  
  .tbl-row:hover {
    background-color: #f0f1f3;
    cursor: pointer;
  }
  
  .row-selected {
    padding-top: 4px !important;
    padding-left: 4px;
    display: inline-block;
  }
  
  .icon-selected {
    padding-bottom: 4px !important;
    font-size: 20px;
    color: #23ad44;
  }
  
  .my-custom-scrollbar {
    position: relative;
    max-height: 167px;
    overflow: auto;
  }
  
  .table-wrapper-scroll-y {
    display: block;
  }
  
  .p-card-header{
    text-align: center;
  }
  .center-button{
    text-align: center;
    font-size: x-large;
  
  }
  /**
  * Estilo para el asterico que indica que el campo es requerido
  */
  .required{
    color:red
  }
  
  .link {
    color: var(--bs-link-color);
    text-decoration: underline;
  }
  .mensaje{
    font-size: 30px;
    margin-right: 20px;
  }
  
  :host ::ng-deep .p-message-custom {
    background-color: #E1CFE7;
    border: solid #8A427A;
    border-width: 0 0 0 6px;
    color: #2c1e30;
  }
  
  :host ::ng-deep .p-message-close-icon {
    color: #2c1e30;
  }
  
  .forgetPassword {
    font-size: 12px;
    text-align: center;
    color:  #0a0af3;
    cursor: pointer;
    font-weight: bold;
  }
  
  .iconButton {
    position: absolute;
  }
  
  .iconButton {
    left: 78%;
    padding-top: 8px;
  }
  
  .btn-less {
    box-shadow: 0 3.5px 4px 0 rgba(167, 187, 190, 0.45);
    border-radius: 15px;
    background-color: #6c757d !important;
    color: #f1f1f1;
    padding: .30rem .8rem;
    border: 0px;
    outline: 0px !important;
    font-family: 'Open Sans', sans-serif !important;
    height: 36px;
  }
  
  .btn-less:hover {
    background-color: #50585f !important;
  }
  
  .icon-show {
    background-color: #f2f2f2 !important;
    box-shadow: none !important;
  }
  
  .subtitulo-color {
    color: #0a0af3;
    font-weight: bold;
  }

  .olvido-password {
    margin: 8px;
  }
  
  .olvido-password :hover{
    color: #0b0bcf;
  }
  
  .btn-color-primary {
    background-color:  #272727ea !important;
    border: none;
    opacity: 1 !important;
    border: none;
  }
  
  .btn-color-primary:hover {
    background-color:   #0b0bcf !important;
    border-color:  #0b0bcf;
    cursor: pointer;
  }
  
  .btn-color-secundary {
    background-color:  #f6f6f8 !important;
    border: none;
    color: #0b08f5;
  }
  
  .btn-color-secundary:hover {
    background-color:  #d8d8da !important;
    border-color: #d8d8da;
    color: #0b08f5 !important;
    cursor: pointer;
  }
  
  .color-label-blue {
    color: #0b08f5;
  }