<!-- panel principal -->
<div class="pnl-1">

    <!-- panel formulario -->
    <div class="pnl-2">
  
      <!-- panel imagen -->
      <div class="img-login">
        <img src="assets/login/logo-login@3x.png" srcset="assets/login/th.jfif" class="logo-login"/>
      </div>
  
      <!-- formulario ingreso informacion -->
      <form
      #formLogin="ngForm" name="formLogin"
      novalidate>
  
        <!-- panel ingreso informacion -->
        <div class="ui-g container">
  
          <!-- titulo -->
          <div class="grid subtitle">
            <p class="mb-0 font-size-16 subtitulo-color">Iniciar sesión</p>
          </div>
      
          <!-- nombre usuario -->
          <div class="grid mt-3 input-form">
            <div class="inner-addon left-addon">
              <i class="fa fa-user font-size-16 aico"></i>
              <input
                [(ngModel)]="usuario"
                type="text"
                id="username"
                name="username"
                autocomplete="off"
                appAutofocus
                class="w-100"
                placeholder="Nombre de Usuario"/>
            </div>
          </div>
  
          <!-- password -->
          <div class="grid input-form">
            <div class="inner-addon left-addon">
              <input
                [(ngModel)]="clave"
                type="password"
                #inclave
                id="clave"
                name="clave"
                autocomplete="off"
                class="w-100"
                placeholder="Contraseña"/>
            </div>
          </div>
  
          <!-- btn inicio sesion -->
          <div class="mb-0 pb-0 text-center">
            <div class="inner-addon left-addon">
              <i class="fa fa-user-circle aico user-icon"></i>
              <button (click)="iniciarSesion()" type="submit" 
                class="btn btn-primary btn-color-primary button-space">
                <span class="font-new-roman mr-2 font-size-12 font-weight-bold">ACEPTAR</span>
              </button>           
            </div>

            <div class="inner-addon left-addon mt-2">
              <i class="fa fa-user-circle aico user-icon"></i>
              <button (click)="crearCuenta()" type="submit" 
                class="btn btn-secundary btn-color-secundary button-space">
                <span class="font-new-roman mr-2 font-size-12 font-weight-bold">CREAR CUENTA</span>
              </button>           
            </div>
  
            <!-- Recuperar contraseña -->
            <div class="olvido-password">
              <span (click)="habilitarOlvidoPassword()" class="forgetPassword">¿Has olvidado tu contraseña?</span>
            </div>
          </div>   
        </div>
      </form>
    </div>
    <!-- footer del login -->
    <div class="footer">
      <p class="mb-0">Copyright  - 2024</p>
    </div>
  </div>
  
  <!-- Estructura de mensajes de alerta -->
  <p-toast position="bottom-center" key="toastPortal" id="toastPortal" #toastPortal></p-toast>